<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>49ers Cricket Connect</title>
	<link rel="stylesheet" type="text/css" href="../assests/css/index.css">
  </head>
  <body>

    <% include partials/header.ejs %>

	<div class="homepage">
	 <div class="home_content">
	  <div class="opa_div about">
	  </div>
	<div class="content">
       <h1 class="heading">About Us</h1>
	   <p class="hcontent"> This is a meetup website where the students of UNCC can connect on cricket. Users register in the application and connect with each other. Users are given an opportunity to discuss about the trending topics about the game, share their views upon the game by creating the event and registering for the event. </p>
	</div>
	</div>
</div>

<% include partials/footer.ejs %>
 </body>
</html>
