<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>49ers Cricket Connect</title>
	<link rel="stylesheet" type="text/css" href="../assests/css/index.css">
  </head>
  <body>
    <% include partials/header.ejs %>
	<div class="homepage">
	 <div class="home_content">
	  <div class="opa_div">
	  </div>
	<div class="content">
       <h1 class="heading1">Wanna know more about our events?</h1>
        <p>Follow us on our twitter handle : twitter_49ersCC</p>
        <p>Join us on our facebook page : fb_49ersCC</p>
        <p>Email: email@49ersCC.com</p>
        <p>Phone:9603996758</p>
	</div>
	</div>
</div>
<% include partials/footer.ejs %>

 </body>
</html>
