<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>49ers Cricket Connect</title>
	<link rel="stylesheet" type="text/css" href="../assests/css/index.css">
  </head>
  <body>
    
    <% include partials/header.ejs %>

	<div class="homepage">
	 <div class="home_content">
	  <div class="opa_div">
	  </div>
	<div class="content">
       <h1 class="heading">Welcome to 49ers Cricket Connect</h1>
	   <p class="hcontent"> Meet other UNCC Cricket players.Members can discuss about the game, can form teams to play matches or create a event to watch live matches together.</p>
	</div>
	</div>
</div>
<% include partials/footer.ejs %>

 </body>
</html>
